# edit and save as .env

DOMAINNAME=docker.localhost
VOLUMES_DIR=./docker/volumes
LOG_LEVEL=DEBUG
TRAEFIK_SUBNET=10.1.0.0/16
TARGET=dev

# Letsencrypt configuration -- Staging for Test Deployment
CERT_EMAIL=kontakt@localhost
CA_SERVER=https://acme-staging-v02.api.letsencrypt.org/directory

## Prod Only
DNS_CHALLENGE_PROVIDER=cloudflare
CF_API_EMAIL=yourcf@mail.com
CF_API_KEY=superdupersecret
