log:
  level: INFO
  filePath: "/var/log/traefik.log"

accessLog:
  filePath: "/var/log/accesslog.log"
  filters:
    retryAttempts: true
    minDuration: "10ms"
    statusCodes:
      - "400-499"
      - "500-599"
api:
  dashboard: false

providers:
  file:
    directory: /etc/traefik/config
    watch: true
  docker:
    endpoint: "tcp://dockerproxy:2375"
    exposedByDefault: false
    network: traefik

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: "websecure"
          scheme: https
          permanent: true
  websecure:
    address: ":443"
    http:
      tls:
        certresolver: "dnschallenger"
        domains:
          - main: "*.yourdomain.de"
            sans:
              - "yourdomain.de"

certificatesResolvers:
  dnschallenger:
    acme:
      email: admin@yourdomain.de
      storage: /etc/traefik/acme/acme.json
      # caserver: "https://acme-staging-v02.api.letsencrypt.org/directory"
      dnsChallenge:
        provider: hetzner
        delayBeforeCheck: 120
        resolvers:
          - "1.1.1.1:53"
          - "1.0.0.1:53"
